nav {
  width: 25%;
  float: left;
}

.content {
  width: 70%;
  float: left;
}

.animal-tile {
  display: inline-block;
  width: 32.3%;
  text-align: center;
}

figure img {
  width: 100%;
  border: 2px solid #394963;
  border-radius: 5px;
}

figure img:hover {
  
}

figcaption {
  text-align: center;
}
